body {
  color: #141414;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.bloglist,
.post {
  background-color: #fff;
  margin: 0 auto;
  max-width: 600px;
}

.bloglist {
  padding: 5px;
}

.bloglist__header {
  margin-top: 5px;
}

.bloglist__breadcrumb {
  border-radius: 3px;
  color: #000;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
}

.bloglist__back {
  margin-right: 8px;
}

.bloglist__h1 {
  margin: 10px auto;
}

.entry {
  background-color: #fff;
  border: 2px dashed #d2477a;
  padding: 10px;
  margin: 10px;
}

.entry:hover {
  background-color: #fff789;
}

.entry .entry__link {
  display: flex;
  text-decoration: none;
}

.entry .entry__h2,
.entry .entry__preview {
  color: #141414;
}

.entry .entry__date,
.post .post__date {
  color: #999;
}

.entry .entry__h2,
.post .post__h1 {
  font-size: 22px;
  margin-top: 5px;
}

.entry .entry__thumbnail {
  object-fit: cover;
  width: 200px;
}

.entry .entry__description {
  margin-left: 20px;
}

.post {
  padding: 0 20px 20px 20px;
}

.post__nav {
  border-bottom:2px dashed #d2477a;;
  margin-bottom: 20px;
  padding-left: 0;
}

.post .post__img {
  max-width: 600px;
  object-fit: cover;
}

@media screen and (max-width: 700px) {

  .breadcrumb {
    justify-self: center;
  }

  .bloglist, .post {
    padding: 10px;
    max-width: 600px
  }

  .entry .entry__link {
    flex-direction: column;
  }

  .entry .entry__thumbnail {
    align-self: center;
    height: 200px;
    margin: 0 0 20px 0;
    object-fit: cover;
    width: 100%;
  }

  .entry .entry__description {
    margin-left: 0;
  }

  .post .post__img {
    height: 200px;
    width: 100%;
  }
}