:root {
  --light-blue: #cee4ff;
  --light-pink: #ef9eff;
  --base-pink: #e45dff;
  --base-green: #93e836;
  --base-yellow: #fffc7a;
  --midlight-blue: #93d9eb;
  --base-blue: #33c6ee;
  --base-dark: #041417;
}

/* RESETS */

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

/* LAYOUT */

.l-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.l-wrap.l-wrap--end {
  justify-content: flex-end;
}

.l-wrap.l-wrap--center {
  justify-content: center;
}

.nav, .main, .footer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* cover */

.cover {
  background-color: #041728;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.cover img {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* styles */

body {
  display: flex;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  min-height: 100vh;
  justify-content: center;
  /*overflow: hidden;*/
  overflow: hidden;
  padding: 0;
  position: relative;
  margin: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.h1 {
  font-family: 'Rubik Mono One', sans-serif;
  color: var(--base-pink);
  font-size: 7vw;
  letter-spacing: .25rem;
}

@media screen and (max-width: 800px) {

  .h1 {
    font-size: 10vw;
  }
}

.h2 {
  color: var(--base-dark);
  font-size: 18px;
  margin-bottom: .5em;
}

.p {
  font-size: 18px;
  margin-bottom: 1em;
  text-transform: initial;
}

.p.p--last {
  margin-bottom: 0;
}

.link {
  color: var(--base-pink);
  display: flex;
  font-weight: bold;
  text-shadow: 1px 1px var(--light-blue);
  letter-spacing: 1.5px;
}

.link:hover, .link:focus {
  color: var(--base-green);
  font-style: italic;
  text-decoration: line-through;
}

.p .link {
  display: inline;
  letter-spacing: initial;
}

/* NAV */

.nav {
  margin-bottom: 1em;
}

.nav__link {
  align-items: center;
  display: flex;
  font-size: 18px;
  margin: 5px auto;
}

.nav__icon {
  margin-right: 5px;
}

/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-top: 1.5em;
}

/* socials */

.socials {
  display: flex;
  flex-direction: row;
  font-size: 26px;
  margin: 1em auto;
}

.socials .socials__link {
  margin: auto .5em;
  text-shadow: unset;
}

.socials .socials__link:hover {
  text-decoration: none;
}

/* site button */

.link.link--site-button img {
  box-shadow: 3px 3px 0 var(--base-dark);
}

/* FOOTER */

.footer {
  background-color: #fff;
  padding: .75em 0 .75em;
  margin-top: 1em;
  width: 100vw;
}

@media screen and (max-width: 800px) {
  .footer {
    margin-top: 0;
  }
}

.footer.footer--button-only {
  width: unset;
}

/* PROGRESS BAR */

.progress {
  background-color: white;
  border: 2px solid var(--base-dark);
  border-radius: 3px;
  height: .5em;
  margin: .5em auto;
  position: absolute;
  top: 38%;
  width: 100%;
  z-index: 1;
}

.progress__bar {
  background-color: var(--base-green);
  border-right: 2px solid var(--base-dark);
  height: .5em;
}


/* BOOKS */

.book {
  position: relative;
}

.book .book__back {
  background-color: black;
  bottom: 0;
  color: white;
  font-size: 8px;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 .5em;
  position: absolute;
  text-transform: none;
}

.book:focus .book__back {
  display: flex;
}

.book:hover, book:focus {
  transform: scale(1.5);
  z-index: 1000;
}

.footer .book:hover, book:focus {
  transform: scale(1.2);
}

@media screen and (max-width: 800px) {
  .book:hover, book:focus {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 800px) {
  .book.book--widescreen {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .book.book--midscreen {
    display: none;
  }
}

.book.book--more {
  align-items: center;
  background-color: var(--base-yellow);
  color: var(--base-dark);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  padding: .5em 0;
}

/* CODE SNIPPET */

.code {
  background-color: var(--light-blue);
  border: 2px solid var(--base-dark);
  font-size: 14px;
  padding: .5em 1em;
  margin-top: 1.5em;
  word-break: break-all;
}

/* BLUE PAGES */

.blue .box__top {
  background-color: var(--base-blue);
  box-shadow: inset 2px 2px 0 var(--midlight-blue);
  text-shadow: 1px 1px var(--light-blue);
}

.blue .link {
  color: var(--base-blue);
  text-shadow: 1px 1px var(--base-dark);
}

/* YELLOW PAGES */

body.yellow {
  color: white;
}

.yellow .h1 {
  color: var(--base-yellow);
  text-shadow: 1px 1px var(--base-dark);
}

.yellow .box__top {
  background-color: var(--base-yellow);
  box-shadow: inset 2px 2px 0 var(--base-yellow);
  text-shadow: 1px 1px var(--light-blue);
}

.yellow .link {
  color: var(--base-yellow);
  text-shadow: 1px 1px var(--base-dark);
}

.yellow .link:hover {
  color: var(--base-green);
}

.yellow .link.link--dark {
  color: var(--base-dark);
  text-shadow: unset;
}

.yellow .link.link--dark:hover {
  color: var(--base-green);
}

/* PINK PAGES */

.pink .link {
  text-shadow: 1px 1px var(--base-dark);
}

/* ABOUT PAGE */

.about .cover__img {
  top: -40px;
}

@media screen and (max-width: 800px) {
  .about .cover__img {
    top: unset;
  }
}

/* LIBRARY */

body.has-library {
  overflow-y: auto;
}

.library {
  margin: 0 auto;
  max-width: 800px;
  padding: 1em;
}

.library__nav.library__nav--x {
  display: flex;
  justify-content: center;
  margin: 1em auto 2em;
  position: relative;
}

.library__link {
  color: var(--base-dark);
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  padding: .25em .5em;
  text-decoration: none;
}

.library__link.library__link--selected,
.library__link:hover {
  background-color: var(--base-yellow);
}

.library__link.library__link--back {
  left: .25em;
  position: absolute;
}

.bookshelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  display: flex;
  justify-content: center;
  margin: .25em;
  position: relative;
  transition: transform .05s;
  width: 100px;
}

.book .book__cover {
  border: 2px solid white;
  height: 140px;
}

.book.book--wip .book__cover {
  opacity: 50%;
}

.book:hover .book__cover {
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}



